header {
  background: #333;
}

a.navbar-brand {
  color: #fff;
}

.jumbotron {
  position: relative;
}

#tag-list li .edit {
  display: none;
}

#positive-tags h2 {
  position: absolute;
  top: 65px;
  left: 480px;
}

#negative-tags h2 {
  position: absolute;
  top: 65px;
  left: 900px;
}

.tag-summary-bar {
  height: 20px;
}

.tag-summary-column {
  padding-top: 12px;
}

span.tag-name {
  font-weight: 500;
}

.positive-summary-bar .tag-summary-bar {
  background: #009966;
}

.negative-summary-bar .tag-summary-bar {
  background: #428bca;
}

.positive-summary-bar, .negative-summary-bar {
  background: #ccc;
}

.new-tag input {
  width: 50%;
}

.new-rule input {
  width: 100%;
}

table#tag-table, span.label, table#rule-table, span.label {
  font-size:14px;
}
