@charset "utf-8";

@import './vendor/pickadate/default.date.css';
@import './vendor/pickadate/default.css';

header {
  background: #333;
}

a.navbar-brand {
  color: #fff;
}

#accounts-container {
  color: white;
  margin-top: 8px;
  float: right;
}

.accounts-button-text {
  margin-right: 6px;
}

.flag {
  height: 20px;
}

.jumbotron {
  position: relative;
}

#tag-list li .edit {
  display: none;
}

#positive-tags h2 {
  position: absolute;
  top: 65px;
  left: 480px;
}

#negative-tags h2 {
  position: absolute;
  top: 65px;
  left: 900px;
}

#tag-groups a, .tag-summary-table {
  font-size: 16px;
}

.tag-summary-bar {
  height: 20px;
}

.tag-summary-column {
  padding-top: 6px;
}

span.tag-name {
  font-weight: 500;
}

.new-tag input {
  width: 50%;
}

.new-rule input, .new-account input {
  width: 100%;
}

table#tag-table, span.label, table#rule-table, span.label {
  font-size:14px;
}

td.tag-controls {
  width: 20%;
}

/** Typeahead styling **/
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 200px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/** summary row **/

.accounts-filter {
  float: left;
  margin-right: 30px;
}

.summary-total {
  display: inline-block;
  margin-right: 20px;
}

/** budgetLineList **/

.budgetLineList {
  font-size: 14px;
  margin-top: 20px;
}

.budgetLineList td {
  padding-right: 10px;
}

.submitButtonCell {
  padding-top: 10px;
  float: right;
}

.budgetLine-budget-input {
  float: right;
  width: 162px;

  .record-addon {
    width: 65px;
    border-right: none;
    background: white;
    color: #999;
  }
}

.budgetLine input {
  width: 50px;
}

.summary-bar {
  padding-top: 7px;
}

.negative-summary-bar {
  background: #6BA2C2;
}

$light_blue: #6BA2C2;
$mid_blue: #0075B2;
$dark_blue: #005480;
$light_green: #87C3A2;
$mid_green: #009966;
$dark_green: #226544;

.zero-summary-bar {
  &.within-budget {
    background: $light_green;
  }
}

.zero-summary-bar {
  &.over-budget {
    background: $light_blue;
  }
}

.positive-summary-bar.within-budget.summary-bar-outer {
  background: $light_green;
}

.positive-summary-bar.over-budget.summary-bar-outer {
  background: $dark_green;
}

.positive-summary-bar .summary-bar-inner {
  background: $mid_green;
}

.negative-summary-bar.within-budget.summary-bar-outer {
  background: $light_blue;
}

.negative-summary-bar.over-budget.summary-bar-outer {
  background: $dark_blue;
}

.negative-summary-bar .summary-bar-inner {
  background: $mid_blue;
}

.summary-bar-inner {
  height: 20px;
}
